/* Mobile first approach */

/* Small Tablet */
@media (min-width: 600px) {
  main {
    width: 65%;
    max-width: 550px;
  }
}

/* Tablet */
@media (min-width: 768px) {
  main {
    width: 65%;
    max-width: 700px;
  }
}

/* Laptop */
@media (min-width: 1024px) {
  main {
    min-height: 700px;
    width: 65%;
    max-width: 800px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .contact-form__nameboxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-form__input1 {
    width: 48%;
  }

  .contact-form__input2 {
    width: 48%;
  }

  .contact-form__query-type-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-form__query-type-boxes .input-box:first-child {
    margin-bottom: 0px;
  }

  .contact-form__query-type-boxes .input-box {
    width: 48%;
  }

  .contact-form__input5 textarea {
    height: 130px;
  }

  .contact-form__input6 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .contact-form__button {
    margin-bottom: 10px;
  }
}

/* Desktop */
@media (min-width: 1280px) {
  main {
    width: 65%;
    max-width: 900px;
  }
}

/* 16 inch Desktop */
@media (min-width: 1440px) {
  main {
    width: 65%;
    max-width: 950px;
  }
}
