/* Mobile first approach */

/* Small Tablet */
@media (min-width: 600px) {
  main {
    width: 65%;
    max-width: 550px;
  }
}

/* Tablet */
@media (min-width: 768px) {
  main {
    width: 65%;
    max-width: 700px;
  }
}

/* Laptop */
@media (min-width: 1024px) {
  main {
    width: 65%;
    max-width: 800px;
  }

  .contact-form__nameboxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-form__input1 {
    width: 48%;
  }

  .contact-form__input2 {
    width: 48%;
  }
}

/* Desktop */
@media (min-width: 1280px) {
  main {
    width: 65%;
    max-width: 900px;
  }
}

/* 16 inch Desktop */
@media (min-width: 1440px) {
  main {
    width: 65%;
    max-width: 950px;
  }
}
